
[Unit]
Description=Samhain initialization
After=network.target
Before=samhain.service
ConditionPathExists=!/var/lib/samhain/samhain_file

[Service]
Type=oneshot
ExecStart=/usr/sbin/samhain -t init

[Install]
RequiredBy=samhain.service

